@charset "UTF-8";
/* CSS Document */

/* CSS reset - skal se ens ud i alle browsere */
* {
	margin: 0;
	padding: 0;
	border: none;
}

/* Classic style */
#navigation {
	border-bottom: 1px solid #666;
	padding: 0px;
	margin-top: 40px;
	margin-bottom: 100px;
	float: right;
}
#navigation li {
	list-style: none;
	display: inline;
}
#navigation a {
	margin: 1px 15px 0px 15px; /* rækkefølge: top, højre, bund, venstre */
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #444;
	border: 1px solid #666;
	padding: 5px 20px; 
	background: #ddd;
	border-radius: 7px 7px 0 0;
	display: inline-block;
	width: 100px;
	border-bottom: hidden;
	text-align: center;
}
#navigation a:hover {
	background: #EBEBEB;
}
/* styling af det første link alene */
#navigation a:first-of-type {
	margin-left: 0;
}

/* Flexbox-style */
nav {
	display: flex;
	height: 60px;
	align-items: center;
	width: 100%;
}
nav a {
	width: 25%;
	background: #ddd;
	text-align: center;
	text-decoration: none;
	color: #444;
	padding: 20px;
	font-family: helvetica, sans-serif;
}
nav a:hover {
	background: #D3CB94;
}